<!-- myapp/templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Exam By Asghar Baig{% endblock %}</title>
</head>
<body>

<header>
    <h1>{% block header %}Exam By Asghar Baig{% endblock %}</h1>
    <!-- Common header content goes here -->
</header>

<div id="content">
    {% block content %}{% endblock %}
</div>

<footer>
    <!-- Common footer content goes here -->
</footer>

</body>
</html>
